In [1]:
import pandas as pd

## Importing the Data

In [2]:
df = pd.read_csv("postal.csv")
df.head()

  Postal_code      Borough                                     Neighbour
0         M1B  Scarborough                            Rouge\n, Malvern\n
1         M1C  Scarborough  Highland Creek\n, Rouge Hill\n, Port Union\n
2         M1E  Scarborough       Guildwood\n, Morningside\n, West Hill\n
3         M1G  Scarborough                                      Woburn\n
4         M1H  Scarborough                                   Cedarbrae\n

## Getting longitude and Latitude Values

In [3]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
# !wget -q -O 'postal.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

## Concatinating the Longitude and Latidue

In [8]:
df['Latitude'] = geocsv_data['Latitude'].values
df['Longitude'] = geocsv_data['Longitude'].values

In [9]:
df.head()

,Postal_code,Borough,Neighbour,Latitude,Longitude
0,M1B,Scarborough,"Rouge\n, Malvern\n",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek\n, Rouge Hill\n, Port Union\n",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood\n, Morningside\n, West Hill\n",43.763573,-79.188711
3,M1G,Scarborough,Woburn\n,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae\n,43.773136,-79.239476

In [10]:
df.to_csv("canada_data_with_lat&long",index=False)